@media screen and  (min-width : 1224px)
 {
    .card{
        max-width: 20rem;
      }
 }

 .card{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border: 30px;
}

.error
{
    font-size: 150px;
    font-family: "Times New Roman", Times, serif;
    color:red;
    text-align: center;
}